/* portada- mi presentación */
body {
  font-family: Raleway;  
  line-height: 24px;
  font-size: 16px;
}

.container-intro {
  background-image: url('../assets/images/front-background.jpg');
}

.bg {
	background-position:center center;
	background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-my {
  border-radius: 0px;
  color: white;
  border: 2px solid rgba(255,255,255,0.8);
  background-color: transparent;
  transition: all .5s;
}

.btn-my:hover{
  color: white;
  background-color: #9e3150;
  border: 2px solid #9e3150;
  text-decoration: none;
}

h1 {
  color: #F2D1A8;
  font-size: 60pt;
  font-family: 'Cookie', cursive;
}

h3 {
  color: white;
  line-height: 20pt;
  margin: 0 40px 20px;
  font-size: 20px;
}

section:nth-of-type(1) .text {
  margin: 0 10px 20px;
  font-size: 28pt;
  z-index: 1;
  color: #F2D1A8;
  pointer-events: none;
}


@media screen and (min-width: 767px) {
  section:nth-of-type(1) .text {  
    margin: 0 15vw 20px;
    font-size: 50pt;
    line-height: 25pt;
  }
  h3 {
    color: white;
    line-height: 25pt;
    margin: 0 18vw 20px;
  }
}


@media screen and (min-width: 1023px) {
  section:nth-of-type(1) .text {  
    margin: 0 15vw 20px;
    font-size: 60pt;
    line-height: 28pt;
  }
  h3 {
    color: white;
    line-height: 28pt;
    margin: 0 18vw 20px;
    font-size: 30px;
  }

}

 
/* navBar */

.btn-navbar {
  border: 1px solid #9e3150 !important;
  border-radius: 0px !important;
}

.bg-navbar {
  background-color: #22353c;
  border-bottom: 3px solid #9e3150;
}

.bg-navbar li a {
  color: white !important;
  font-weight: 600;
}

.bg-navbar li a:hover {
  color: #9e3150 !important;
  font-weight: 500;
  transition: all .5s;
} 
 
/* icons */

.material-icons.md-36 { font-size: 36px; }
.material-icons.white{ color: white; }

/* about */

.header {
  font-size: 30px;
  color: #444649;
}

.header:after {
  margin-top: 10px;
  content: '';
  display: block;
  background-color: #444649;
  height: 5px;
  width: 100px;
}
/* hexagono */

/* 
.hexagon {
  position: absolute;
  width: 250px; 
  height: 144.34px;
  background-color: #64C7CC;
  margin: 72.17px 0;
  transition:all .3s ease;
  LEFT:0
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 72.17px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #64C7CC;
} 
*/
/* es una clase de prueba */
.k {
  height: 100vh;
}